foo.py
__pycache__/
SurePass/
*.json
*.pdf
*.db
db.py

.vscode/
*.pkl
ear_bot/
log/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

python.config
.ebextensions
